@import "minimal-mistakes"; 

.main-header {
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

.header-content {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  width: 100%;
  max-width: 100%;
}


.logo {
  width: 500px !important;
  height: auto;
  max-width: none !important;
  display: block;
}

.title-and-nav {
  display: flex;
  flex-direction: column;
}

.site-title {
  font-size: 48px;
  margin: 0 0 10px;
}

.site-nav {
  font-size: 16px;
}

.main-navigation {
  background-color: #333;
  padding: 10px 0;
}

.main-navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.main-navigation li {
  margin-right: 20px;
}

.main-navigation a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.main-navigation a:hover {
  color: #ff6f61;
}

.description {
  font-size: 12px;
  color: #bbb;
}

.nav-links {
  margin-top: 10px;

  .nav-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }

  .nav-menu li {
    margin: 0;
  }

  .nav-menu a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: 400;

    &:hover {
      text-decoration: underline;
    }
  }
}




