---
layout: default
title: {{ site.title }}
---

<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} - {{ site.title }}</title>
</head>
<body>

  <!-- Nagłówek -->
  <header>
    <div class="logo-container">
      <img src="/assets/images/testingrebels.png" alt="Logo" class="logo">
      <div class="site-title">{{ site.title }}</div>
    </div>

    <!-- Nawigacja -->
    {% include nav/navigation.html %}
  </header>

  <!-- Główna zawartość strony -->
  <main>
    {{ content }}
  </main>

  <!-- Stopka -->
  <footer>
    <p>&copy; {{ site.time | date: "%Y" }} {{ site.title }}</p>
  </footer>

</body>
</html>
